* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    overflow: hidden;
}

main {
    width: 375px;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    margin-top: 32px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    background: #6395f2;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.6;
}

section {
    border: 2px solid #BBBBBB;
    border-radius: 15px;
    margin-top: 15px;
    padding: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 9px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}